<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164272850648-r7sjlqokcddd1hrlf8klnjebeumgl3mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164272850648-r7sjlqokcddd1hrlf8klnjebeumgl3mn</string>
	<key>API_KEY</key>
	<string>AIzaSyBO48C6OopxSLydvGy4t3aZ5j_85QXwuHo</string>
	<key>GCM_SENDER_ID</key>
	<string>164272850648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsh98.TodayYou</string>
	<key>PROJECT_ID</key>
	<string>todayyou-7fa3d</string>
	<key>STORAGE_BUCKET</key>
	<string>todayyou-7fa3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164272850648:ios:76f6cec537f7fb1e7339ad</string>
</dict>
</plist>